---
# Security Role Handlers

- name: restart fail2ban
  systemd:
    name: fail2ban
    state: restarted

- name: restart sshd
  systemd:
    name: sshd
    state: restarted

- name: reload ufw
  ufw:
    state: reloaded
